<style>
@charset "UTF-8";
/** Normalize **/
/** Arlo Theme General Style **/
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/** Tooltip **/
/** Filters **/
/** Event catalogue **/
@keyframes arloImageLoading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1500px 0;
  }
}
body {
  background-color: #eee;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.arlo {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  max-width: 1140px;
  margin: 2em auto;
  color: #212121;
}
.arlo article {
  display: block;
}
.arlo aside {
  display: block;
}
.arlo details {
  display: block;
}
.arlo figcaption {
  display: block;
}
.arlo figure {
  display: block;
  margin: 1.5em 40px;
}
.arlo footer {
  display: block;
}
.arlo header {
  display: block;
}
.arlo main {
  display: block;
}
.arlo menu {
  display: block;
}
.arlo nav {
  display: block;
}
.arlo section {
  display: block;
}
.arlo summary {
  display: block;
}
.arlo audio {
  display: inline-block;
}
.arlo audio:not([controls]) {
  display: none;
  height: 0;
}
.arlo canvas {
  display: inline-block;
}
.arlo progress {
  display: inline-block;
  vertical-align: baseline;
}
.arlo video {
  display: inline-block;
}
.arlo template {
  display: none;
}
.arlo [hidden] {
  display: none;
}
.arlo a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #1765ee;
  text-decoration: none;
}
.arlo a:active {
  outline-width: 0;
}
.arlo a:hover {
  outline-width: 0;
  color: #1765ee;
  text-decoration: none;
}
.arlo abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
.arlo b {
  font-weight: inherit;
  font-weight: bolder;
}
.arlo strong {
  font-weight: inherit;
  font-weight: bolder;
}
.arlo code {
  font-family: monospace, monospace;
  font-size: 1em;
}
.arlo kbd {
  font-family: monospace, monospace;
  font-size: 1em;
}
.arlo samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.arlo dfn {
  font-style: italic;
}
.arlo h1 {
  font-size: 2em;
  margin: 0.75em 0;
  font-size: 36px;
  line-height: 43px;
}
.arlo mark {
  background-color: #ff0;
  color: #000;
}
.arlo small {
  font-size: 80%;
}
.arlo sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}
.arlo sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
.arlo img {
  border-style: none;
}
.arlo svg:not(:root) {
  overflow: hidden;
}
.arlo hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.arlo pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.arlo button {
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}
.arlo button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.arlo button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.arlo input {
  font: inherit;
  margin: 0;
  overflow: visible;
}
.arlo optgroup {
  font: inherit;
  margin: 0;
  font-weight: bold;
}
.arlo select {
  font: inherit;
  margin: 0;
  text-transform: none;
  padding: 10px 70px 10px 24px;
  cursor: pointer;
}
.arlo textarea {
  font: inherit;
  margin: 0;
  overflow: auto;
}
.arlo html [type=button] {
  -webkit-appearance: button;
}
.arlo [type=reset] {
  -webkit-appearance: button;
}
.arlo [type=reset]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.arlo [type=reset]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.arlo [type=submit] {
  -webkit-appearance: button;
}
.arlo [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.arlo [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.arlo [type=button]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.arlo [type=button]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.arlo [type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.arlo [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.arlo [type=number]::-webkit-inner-spin-button {
  height: auto;
}
.arlo [type=number]::-webkit-outer-spin-button {
  height: auto;
}
.arlo [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
.arlo [type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.arlo [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.arlo::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
.arlo::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.arlo fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.arlo legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  white-space: normal;
  color: inherit;
  padding: 0;
}
.arlo ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.arlo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.arlo li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.arlo .arlo-filter-unordered-list li {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.arlo .arlo-filter-unordered-list li.selected {
  background-color: #1765ee;
}
.arlo .arlo-show-more {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  min-width: 150px;
  padding: 10px 30px;
  background-color: transparent;
  border-radius: 2px;
  color: #a7a7a7;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.arlo .arlo-show-more:after {
  content: "";
  display: inline-block;
  margin-left: 20px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.arlo .arlo-show-more:hover {
  color: #212121;
}
.arlo .arlo-loading-overlay {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  bottom: 50%;
  top: 50%;
  left: 50%;
  right: 50%;
}
.arlo .arlo-loading-overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.arlo .arlo-loading-overlay:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.arlo .arlo-loading-overlay:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
.arlo h2 {
  font-size: 25px;
  line-height: 35px;
}
.arlo h3 {
  font-size: 20px;
  line-height: 30px;
}
.arlo .arlo-h2 {
  margin-bottom: 5px;
  font-size: 140%;
}
.arlo .arlo-h3 {
  margin-bottom: 5px;
  font-size: 120%;
}
.arlo .tooltipcontent {
  display: none;
  display: none;
}
.arlo .arlo-session-info {
  cursor: pointer;
}
.arlo .arlo-sessions {
  margin: 0;
}
.arlo .arlo-sessions li * {
  display: inline-block;
  word-wrap: normal;
  display: inline-block;
  word-wrap: normal;
}
.arlo .arlo-sessions li * .arlo-session-name {
  display: block;
}
.arlo .arlo-sessions li .arlo-session-name {
  display: block;
}
.arlo .arlo-sessions .arlo-session .arlo-session-name {
  font-size: 1.1em;
  font-weight: 700;
  color: #1765ee;
}
.arlo .arlo-sessions .arlo-session .arlo-session * {
  line-height: 1;
}
.arlo .arlo-bg-color-primary {
  background-color: #1765ee;
}
.arlo .arlo-bg-color-secondary {
  background-color: #6A869E;
}
.arlo .arlo-bg-color-filters {
  background-color: #1765ee;
}
.arlo .arlo-bg-color-highlight {
  background-color: #1765ee;
}
.arlo .arlo-bg-color-normal {
  background-color: #eeeeee;
}
.arlo .arlo-bg-color-darker {
  background-color: #444444;
}
.arlo .arlo-bg-color-darkest {
  background-color: #000000;
}
.arlo .arlo-text-color-primary {
  color: #212121;
}
.arlo .arlo-text-color-secondary {
  color: #1765ee;
}
.arlo .arlo-text-color-contrast {
  color: #ffffff;
}
.arlo .arlo-text-color-lightest {
  color: #eeeeee;
}
.arlo .arlo-text-color-light {
  color: #a7a7a7;
}
.arlo .arlo-text-color-normal {
  color: #444444;
}
.arlo .arlo-text-color-dark {
  color: #000000;
}
.arlo .arlo-text-color-link {
  color: #1765ee;
}
.arlo .arlo-font-primary {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.arlo .arlo-font-secondary {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.arlo .arlo-font-special {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.arlo .arlo-font-size-larger {
  font-size: 110%;
}
.arlo .arlo-clearfix {
  zoom: 1;
}
.arlo .arlo-clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.arlo * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.arlo *:first-child + html .arlo-clearfix {
  zoom: 1;
}
.arlo .tooltip.bottom .tooltip-arrow {
  padding: 0 !important;
}
.arlo .arlo-detail {
  line-height: 1.5;
}
.arlo .arlo-detail .tooltip .tooltip-inner {
  text-align: left;
  padding: 16px 20px;
  background: #393939;
  max-width: 250px;
}
.arlo .arlo-detail .tooltip .tooltip-inner li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 6px;
  margin-bottom: 6px;
}
.arlo .arlo-detail .tooltip .tooltip-inner li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.arlo .arlo-detail .tooltip .tooltip-inner h3 {
  margin-top: 0;
}
.arlo .arlo-detail .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #aeaeae;
}
.arlo .arlo-event-listitem .arlo-detail .tooltip .arlo-session {
  font-size: 1.2em;
}
.arlo .arlo-event-listitem .arlo-detail .tooltip .arlo-session * {
  padding: 0;
}
.arlo .tooltip.in {
  opacity: 1;
}
.arlo #arlo-filter-toggle {
  display: none;
}
.arlo .arlo-filters[min-width~="551px"] div[id^=filter-] {
  display: inline-block !important;
  display: inline-block !important;
}
.arlo .arlo-filters .arlo-taxonomy-filters {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.arlo .arlo-filters .arlo-taxonomy-filters::after {
  clear: both;
  content: "";
  display: table;
}
.arlo .arlo-filters .arlo-other-filters {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.arlo .arlo-filters .arlo-other-filters::after {
  clear: both;
  content: "";
  display: table;
}
.arlo .arlo-filters .arlo-filter-unordered-list li {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 20px;
  float: left;
}
.arlo .arlo-filters .arlo-filter-unordered-list li.selected {
  background-color: #e5f7ff;
}
.arlo .arlo-filters div[id^=filter-] {
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 10px;
  vertical-align: bottom;
  vertical-align: top;
}
.arlo .arlo-filters div[id*=filter-] {
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 10px;
  vertical-align: bottom;
  vertical-align: top;
}
.arlo .arlo-filters .arlo-checkbox-filter-option {
  display: inline-block;
}
.arlo .arlo-filters .arlo-checkbox-filter-option input[id^=loccode] {
  display: none;
}
.arlo .arlo-filters .arlo-checkbox-filter-option input[id^=loccode]:checked + label {
  background-color: #e5f7ff;
}
.arlo .arlo-filters select {
  border-radius: 2px;
  display: inline;
  padding: 20px;
  border: none;
  color: #5f5f5f;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding-right: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcBAMAAACAI8KnAAAAGFBMVEUAAABgYGBdXV1eXl5eXl5fX19eXl5fX19k8kobAAAAB3RSTlMAUGB/gJ+gMr4LlQAAAGNJREFUGNPF0LENwCAMRNEPBTUj0DFIFsgW9Ejo1k9xhIQ2TVyd9VzYht/q2ELS6c6habhtGhAlc5JUCJK5ScpQzUlSx9PDWGDyjZMXmheaH5zc19ZxQ6hvhLgh1L7dHPKHR13jrijFraT9RAAAAABJRU5ErkJggg==") no-repeat;
  background-size: 16px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  background-color: #e4e4e4;
}
.arlo .arlo-filters input.arlo-search {
  border-radius: 2px;
  display: inline;
  padding: 20px;
  border: none;
  color: #5f5f5f;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 10px 20px;
}
.arlo .arlo-filters .arlo-show-more {
  cursor: pointer;
  font-size: 14px;
  padding: 8px 20px;
  float: left;
}
.arlo .arlo-filters .arlo-filter-categories .arlo-filter-unordered-list li {
  margin-bottom: 10px;
  padding: 5px 20px;
  border-radius: 2px;
  margin-right: 2px;
  float: none;
  background: transparent;
  color: #1765ee;
  border: 1px solid #1765ee;
}
.arlo .arlo-filters .arlo-filter-categories .arlo-filter-unordered-list li:hover {
  background-color: #e5f7ff;
}
.arlo .arlo-filters .arlo-timezone-select {
  display: none;
  max-width: 360px;
  background-color: transparent;
}
.arlo .arlo-filters .arlo-timezone-select:focus {
  background-color: transparent !important;
}
.arlo .arlo-filters div {
  display: inline-block;
}
.arlo .arlo-collapse-button {
  display: none;
  background: #eef1f1;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.arlo .arlo-collapse-button.arlo-visible:after {
  margin-left: 10px;
  font-family: FontAwesome;
  content: "";
}
.arlo .arlo-collapse-button.arlo-hidden:after {
  margin-left: 10px;
  font-family: FontAwesome;
  content: "";
}
.arlo .arlo-radio-filter-option {
  display: inline-block;
}
.arlo .arlo-radio-filter-option input[id^=categoryid] {
  display: none;
}
.arlo .arlo-radio-filter-option input[id^=categoryid]:checked + label {
  background-color: #1765ee;
}
.arlo .arlo-radio-filter-option input[id^=categoryid] + label {
  margin-bottom: 10px;
  padding: 8px 14px 8px;
  border-radius: 2px;
  margin-right: 2px;
  float: none;
  background: #444;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
  -webkit-transition: all ease-out 0.6s;
}
.arlo .arlo-radio-filter-option input[id^=categoryid] + label:hover {
  background-color: #1765ee;
  color: #fff;
}
.arlo .arlo-categorycatalogue .arlo-categorycatalogue-listitem {
  margin-top: 3em;
}
.arlo .arlo-categorycatalogue > .arlo-show-more-container {
  margin-top: 2em;
}
.arlo .arlo-next-running-container {
  margin-top: 20px;
}
.arlo .arlo-next-running-title {
  margin-bottom: 5px;
  font-size: 14px;
}
.arlo .arlo-next-running a {
  display: inline-block;
  margin: 0;
  padding: 7px 20px 7px;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #1765ee;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
}
.arlo .arlo-next-running a:hover {
  background-color: #1765ee;
  color: white;
}
.arlo a.arlo-register-interest {
  display: inline-block;
  margin: 0;
  padding: 7px 20px 7px;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #1765ee;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  background-color: #444;
}
.arlo a.arlo-register-interest:hover {
  background-color: #1765ee;
  color: white;
}
.arlo .arlo-find-events {
  display: inline-block;
  margin: 0;
  padding: 7px 20px 7px;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #1765ee;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
}
.arlo .arlo-find-events:hover {
  background-color: #1765ee;
  color: white;
}
.arlo div[class^=nextrunning-] {
  display: inline-block;
  vertical-align: baseline;
}
.arlo .arlo-show-more-container {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
.arlo .arlo-page-header {
  margin-bottom: 10px;
  text-align: center;
}
.arlo .arlo-page-header .arlo-page-title {
  font-size: 3em;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 300;
  line-height: 1.1;
}
.arlo .arlo-page-header p {
  font-size: 18px;
}
.arlo .arlo-page-footer {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding: 15px;
}
.arlo .arlo-page-footer .arlo-page-title {
  font-size: 64px;
  line-height: 50px;
  margin-bottom: 10px;
  font-weight: 700;
  margin-top: 0;
  text-transform: uppercase;
}
.arlo .arlo-page-footer p {
  font-size: 18px;
  margin: 0;
}
.arlo .arlo-category-footer {
  border-top: 1px solid white;
  margin-top: 3em;
}
.arlo .arlo-category-name {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}
.arlo .arlo-categorycatalogue[max-width~="659px"] .arlo-category-name {
  margin-bottom: -4px;
}
.arlo .arlo-eventtemplatecategoryitems-listitems {
  clear: both;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.arlo .arlo-eventtemplatecategoryitems-listitems:after {
  content: "";
  width: 340px;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem {
  max-width: 100%;
  margin: 30px 0 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-detail .arlo-next-running-title {
  margin: 2em 0 0.5em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-detail .arlo-city {
  margin-right: 5px;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-detail .arlo-original-price {
  text-decoration: line-through;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-detail .arlo-offer-ul {
  padding-left: 0;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-detail .arlo-offer-ul .arlo-offer-li {
  list-style: none;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem::after {
  clear: both;
  content: "";
  display: table;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-name {
  margin: 0 0 5px 0;
  display: inline;
  font-weight: 500;
  font-size: 25px;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-name:hover {
  color: #1765ee;
  text-decoration: none;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-listitem {
  padding: 2em;
  position: relative;
  display: block;
  text-align: left;
  text-decoration: none;
  background-color: #fafafa;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-listitem .arlo-side-border {
  position: absolute;
  left: 0;
  width: 10px;
  height: 100%;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-title h2 {
  margin: 0 0 5px 0;
  font-size: 280%;
  font-weight: 400;
  display: inline;
  line-height: 30px;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-provider-info {
  display: inline;
  float: right;
  font-style: italic;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-start-date {
  font-size: 230%;
  font-weight: 700;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-delivery-title {
  padding-top: 10px;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-listitem-buttons {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-listitem-buttons .arlo-more-info-button {
  cursor: pointer;
  padding: 4px 20px;
  font-size: 80%;
  font-weight: 700;
  letter-spacing: 0.5px;
  border: 1px solid #FFF;
  text-transform: uppercase;
  display: inline-block;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-listitem-buttons .arlo-more-info-button:hover {
  opacity: 0.7;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-listitem-buttons .arlo-event-register {
  padding: 5px 20px;
  font-size: 80%;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-top: 5px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  background: #fff;
  color: #fff;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-listitem-buttons .arlo-event-register a {
  text-decoration: none;
}
.arlo .EventTemplateCategoryItems .arlo-eventtemplatecategoryitems-listitem .arlo-listitem-buttons .arlo-event-register:hover {
  opacity: 0.7;
}
.arlo .arlo-templatetags {
  margin-bottom: 16px;
}
.arlo .arlo-templatetags ul {
  margin-top: 0;
}
.arlo .arlo-register-interest {
  margin-bottom: 16px;
}
.arlo .arlo-advertisedduration {
  font-weight: 300;
}
.arlo .arlo-no-results-found {
  text-align: center;
  font-size: 20px;
}
.arlo .arlo-eventtemplatecategoryitems-listitem {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  width: 340px;
  height: 380px;
  margin-top: 30px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  list-style: none;
}
.arlo .arlo-eventtemplatecategoryitems-listitem::after {
  clear: both;
  content: "";
  display: table;
}
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-catalogueitem-card {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-catalogueitem-card-front {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: #fafafa;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-catalogueitem-card-front .arlo-catalogueitem-image {
  width: 100%;
  height: 200px;
  max-height: 200px;
  z-index: -2;
  background-size: cover;
  position: relative;
  transition: transform 0.3s ease-out, opacity 0.3s ease, filter 1s ease;
}
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-catalogueitem-card-back {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: #fafafa;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1em 30px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-summary {
  font-size: 18px;
  font-weight: 300;
}
.arlo .arlo-eventtemplatecategoryitems-listitem:hover .arlo-catalogueitem-card-front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.arlo .arlo-eventtemplatecategoryitems-listitem:hover .arlo-catalogueitem-card-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-detail {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 30px;
  background: #fff;
}
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2em;
  word-wrap: break-word;
}
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-name {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-advertisedduration {
  font-size: 14px;
  opacity: 0.7;
}
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-offers {
  font-size: 14px;
  opacity: 0.7;
}
.arlo .arlo-eventtemplatecategoryitems-listitems[max-width~="975px"] .arlo-eventtemplatecategoryitems-listitem {
  width: 340px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
}
.arlo .arlo-eventtemplatecategoryitems-listitems[min-width~="976px"] .arlo-eventtemplatecategoryitems-listitem {
  width: 300px;
  height: 350px;
}
.arlo .arlo-eventtemplatecategoryitems-listitems[min-width~="1083px"] .arlo-eventtemplatecategoryitems-listitem {
  width: 340px;
  height: 380px;
}
.arlo li.arlo-eventtemplatecategoryitems-listitem:last-of-type + div.resize-sensor {
  position: static !important;
  width: 340px;
}
.arlo .arlo-catalogueitem-card .arlo-template-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.arlo .arlo-catalogueitem-image.image-loading {
  opacity: 0;
  filter: blur(4px);
}
.arlo .arlo-image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  max-height: 60%;
  transition: opacity ease 1s;
  background-image: linear-gradient(90deg, #e4e4e4 0%, #f1f1f1 40%, #ededed 60%, #e4e4e4 100%);
  background-position: 0px 0px;
  background-repeat: repeat;
  animation: arloImageLoading 5s linear infinite;
}

.arlo[max-width~="659px"] .arlo-filters-container {
  width: 100%;
}
.arlo[max-width~="659px"] .arlo-filters-container .arlo-timezone-select {
  max-width: 100%;
}
.arlo[max-width~="659px"] .arlo-filters-container .arlo-collapse-button {
  display: block;
}
.arlo[max-width~="659px"] .arlo-filters-container div[id^=filter-] {
  padding-right: 0;
}
.arlo[max-width~="659px"] .arlo-filters-container * {
  width: 100%;
}
.arlo[max-width~="659px"] .arlo-filters-container li {
  margin-bottom: 10px;
}
.arlo[max-width~="659px"] .arlo-filters-container #arlo-filter-toggle {
  display: block;
  cursor: pointer;
  background: #1765ee;
  color: white;
  padding: 1em 2em;
  margin-bottom: 35px;
}
.arlo[max-width~="659px"] .arlo-filters-container #arlo-filter-toggle i {
  float: right;
  width: auto;
}
.arlo[max-width~="659px"] .arlo-filters-container #arlo-filter-toggle .arlo-filter-toggle-hide {
  display: none;
}
.arlo[max-width~="659px"] .arlo-filters-container #arlo-filter-toggle .arlo-filter-toggle-show {
  display: block;
}
.arlo[max-width~="659px"] .arlo-filters-container .arlo-filters {
  display: none;
}
.arlo[max-width~="659px"] .arlo-filters-container.arlo-show-filter .arlo-filters {
  display: block;
}
.arlo[max-width~="659px"] .arlo-filters-container.arlo-show-filter #arlo-filter-toggle .arlo-filter-toggle-hide {
  display: block;
}
.arlo[max-width~="659px"] .arlo-filters-container.arlo-show-filter #arlo-filter-toggle .arlo-filter-toggle-show {
  display: none;
}

.arlo.arlo-catalogue select {
  padding: 8px 50px 8px 20px;
}
</style>
