<style>
html {
ÿ box-sizing: border-box;
}
ÿ
*,
*::after,
*::before {
ÿ box-sizing: inherit;
}
ÿ
/* spinner */
.arlo .arlo-loading-overlay {
ÿ position: fixed;
ÿ z-index: 999;
ÿ height: 2em;
ÿ width: 2em;
ÿ overflow: show;
ÿ margin: auto;
ÿ bottom: 50%;
ÿ top: 50%;
ÿ left: 50%;
ÿ right: 50%;
}
ÿ
.arlo .arlo-loading-overlay:before {
ÿ content: "";
ÿ display: block;
ÿ position: absolute;
ÿ top: 0;
ÿ left: 0;
ÿ width: 100%;
ÿ height: 100%;
ÿ background-color: rgba(255, 255, 255, 0.3);
}
ÿ
.arlo .arlo-loading-overlay:not(:required) {
ÿ font: 0/0 a;
ÿ color: transparent;
ÿ text-shadow: none;
ÿ background-color: transparent;
ÿ border: 0;
}
ÿ
.arlo .arlo-loading-overlay:not(:required):after {
ÿ content: "";
ÿ display: block;
ÿ font-size: 10px;
ÿ width: 1em;
ÿ height: 1em;
ÿ margin-top: -0.5em;
ÿ -webkit-animation: spinner 1500ms infinite linear;
ÿ animation: spinner 1500ms infinite linear;
ÿ border-radius: 0.5em;
ÿ box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
ÿ
@-webkit-keyframes spinner {
ÿ 0% {
ÿÿÿ -webkit-transform: rotate(0deg);
ÿÿÿ transform: rotate(0deg);
ÿ }
ÿ 100% {
ÿÿÿ -webkit-transform: rotate(360deg);
ÿÿÿ transform: rotate(360deg);
ÿ }
}
@keyframes spinner {
ÿ 0% {
ÿÿÿ -webkit-transform: rotate(0deg);
ÿÿÿ transform: rotate(0deg);
ÿ }
ÿ 100% {
ÿÿÿ -webkit-transform: rotate(360deg);
ÿÿÿ transform: rotate(360deg);
ÿ }
}
.arlo {
ÿ font-family: "Source Sans Pro", Arial, Tahoma, sans-serif;
}
ÿ
.arlo .arlo-filters {
ÿ margin-bottom: 20px;
ÿ text-align: center;
ÿ display: flex;
ÿ justify-content: center;
}
@media (max-width: 600px) {
ÿ .arlo .arlo-filters {
ÿÿÿ display: block;
ÿ }
}
ÿ
.arlo .arlo-filters #arlo-event-filter > div {
ÿ display: flex;
}
@media (max-width: 600px) {
ÿ .arlo .arlo-filters #arlo-event-filter > div {
ÿÿÿ display: block;
ÿ }
}
ÿ
.arlo ul.arlo-filter-unordered-list.arlo-custom-ul {
ÿ margin: 0;
}
ÿ
.arlo #arlo-event-filter .arlo-filter-select, .arlo #arlo-event-template-filter .arlo-filter-select {
ÿ padding: 10px 70px 10px 24px;
ÿ background-repeat: no-repeat;
ÿ background-position: 90% center;
ÿ appearance: none;
ÿ -moz-appearance: none;
ÿ -webkit-appearance: none;
ÿ background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='black' d='M18.706 8.294c-0.387-0.387-1.025-0.387-1.413 0l-5.294 5.294-5.294-5.294c-0.387-0.387-1.025-0.387-1.413 0s-0.387 1.025 0 1.413l6 6c0.194 0.194 0.45 0.294 0.706 0.294s0.513-0.1 0.706-0.294l6-6c0.394-0.387 0.394-1.025 0-1.413z'></path></svg>");
}
ÿ
.arlo .arlo-traversable-category, .arlo .arlo-filter-select, .arlo .arlo-custom-li {
ÿ display: inline-block;
ÿ margin: 5px 10px;
ÿ background-color: #e6e6e6;
ÿ border-radius: 20px;
ÿ color: #565656;
ÿ border: none;
ÿ font-weight: normal;
ÿ cursor: pointer;
ÿ padding: 10px 24px;
}
.arlo .arlo-traversable-category:hover, .arlo .arlo-filter-select:hover, .arlo .arlo-custom-li:hover {
ÿ opacity: 0.7;
}
@media (max-width: 600px) {
ÿ .arlo .arlo-traversable-category, .arlo .arlo-filter-select, .arlo .arlo-custom-li {
ÿÿÿ width: 95%;
ÿ }
}
ÿ
.arlo ol, .arlo ul, .arlo li {
ÿ list-style: none;
ÿ padding: 0;
ÿ margin: 0;
}
ÿ
.arlo .arlo-category-name {
ÿ margin-bottom: 10px;
ÿ color: #565656;
ÿ font-size: 24px;
ÿ line-height: 30px;
}
ÿ
.arlo hr {
ÿ height: 1px;
ÿ border: 0;
ÿ border-top: 1px solid #ECECEC;
ÿ box-sizing: content-box;
ÿ overflow: visible;
}
ÿ
.arlo .arlo-eventtemplatecategoryitems-listitem {
ÿ width: 100%;
ÿ margin-left: auto;
ÿ margin-right: auto;
ÿ border-top: 0;
ÿ border-right: 0;
ÿ border-bottom: 0;
ÿ list-style: none;
ÿ font-size: 15px;
ÿ vertical-align: top;
ÿ margin-bottom: 12px;
ÿ text-decoration: none;
ÿ display: flex;
ÿ align-content: space-between;
}
.arlo .arlo-eventtemplatecategoryitems-listitem:hover .arlo-advertisedduration, .arlo .arlo-eventtemplatecategoryitems-listitem:hover .arlo-name, .arlo .arlo-eventtemplatecategoryitems-listitem:hover .arlo-offer-container, .arlo .arlo-eventtemplatecategoryitems-listitem:hover .arlo-online-column ul li {
ÿ color: #ff1d87;
}
@media (max-width: 1100px) {
ÿ .arlo .arlo-eventtemplatecategoryitems-listitem {
ÿÿÿ padding-bottom: 15px;
ÿÿÿ border-bottom: 1px solid #bcbcbc;
ÿ }
}
@media (max-width: 600px) {
ÿ .arlo .arlo-eventtemplatecategoryitems-listitem {
ÿÿÿ display: block;
ÿÿÿ text-align: center;
ÿ }
}
ÿ
.arlo .arlo-eventtemplatecategoryitems-listitem > div {
ÿ flex: 1 1 25%;
}
ÿ
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-next-running-column {
ÿ flex: 0 1 20%;
}
ÿ
.arlo .arlo-middlewrap {
ÿ display: flex;
ÿ align-content: space-between;
}
ÿ
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-middlewrap > div {
ÿ flex: 1 1 25%;
}
ÿ
.arlo .arlo-eventtemplatecategoryitems-listitem .arlo-name {
ÿ text-decoration: none;
ÿ color: #565656;
}
ÿ
.arlo .arlo-advertisedduration, .arlo .arlo-offer-container {
ÿ color: #bcbcbc;
}
ÿ
.arlo .arlo-online-column ul li {
ÿ padding-right: 12px;
ÿ color: #bcbcbc;
ÿ font-size: 28px;
}
ÿ
.arlo .arlo-next-running > *, .arlo .arlo-register-interest, .arlo .arlo-find-events > div {
ÿ color: #ff1d87;
ÿ text-decoration: none;
ÿ padding: 10px 18px;
ÿ margin: 5px;
ÿ background-color: #e6e6e6;
ÿ border-radius: 20px;
ÿ border: none;
ÿ display: inline-block;
ÿ text-align: center;
}
.arlo .arlo-next-running > *:hover, .arlo .arlo-register-interest:hover, .arlo .arlo-find-events > div:hover {
ÿ opacity: 0.7;
}
ÿ
.arlo .arlo-show-more-container {
ÿ text-align: center;
}
ÿ
.arlo .arlo-show-more {
ÿ line-height: 20px;
ÿ margin-top: 13px;
ÿ cursor: pointer;
ÿ padding: 12px 50px;
ÿ text-decoration: none;
ÿ border-radius: 20px;
ÿ color: #000000;
ÿ font-weight: normal;
ÿ font-size: 15px;
ÿ display: inline-block;
ÿ margin: auto;
ÿ box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.03);
ÿ background-repeat: repeat-x;
ÿ background-color: #ffdb3b;
}
ÿ
.arlo .arlo-eventtemplatecategoryitems-listitems .arlo-show-more {
ÿ background-color: #ED017B;
}
</style>

